body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
  /* background: url(/images/srh1.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.container {
max-width: 1200px;
}

.container h4 {
padding: 10px 0;
text-align: center;
font-weight: 600;
margin-top: 18px;
margin-bottom: 25px;
background-color: #fbfcfc;
}

.read-div {
margin-bottom: 25px;
}

.read-div p {
font-size: 13px;
margin-bottom: 0;
color: #333;
font-style: italic;
line-height: 1.2;
}

form {
margin:10px auto 50px;
padding:25px;
max-width:960px;
background-color:  #fbfcfc;
}

form h1 {
text-align: center;
padding: 30px;
}

form h5 {
border-bottom:  #d5dbdb 1px solid;
padding-bottom: 15px;
}

form .btn {
margin: 10px 0;
color: #fff;
background-color: #2B6DAD;
border-color: #2B6DAD;
/* text-transform: uppercase; */
letter-spacing: 0.05em;
font-weight: bold;
border-radius: 0;
width: 100%;
}

form p {
font-style: italic;
font-size: 13px;
}
/* 
input required:active {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
} */

.small {
  color: red;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
    .react-datepicker-wrapper {
      width: 100%;
    }
    .apt-col {
      padding-top: 25px;
    }
}