.privacy-container {
    height: auto;
    font-family: 'PT Sans', sans-serif;
}

.privacy-container h1 {
    text-align: center;
    padding: 30px;
}

.privacy-container li {
        font-style: italic;
        font-size: 13px;  
}